<html>
<head>
	<title>
		<TMPL_VAR NAME=TITLE>
	</title>
	<LINK href='../main.css' type=text/css rel=stylesheet>
	<script language="javascript" type="text/javascript" src="../js/snmpcheck.js"></script>

</head>
<body>
<div id='login_as'> </div>
<h3>
	<TMPL_VAR NAME=TITLE>
</h3>

<font color=red> <h4> <TMPL_VAR NAME=MESSAGES> </h4> </font>

<hr>

<div  class="parent">
<TMPL_IF NAME=AUTHORISED> 
<div  class="left_div">

<TMPL_IF NAME=SHOWFORM> 


<form action='<TMPL_VAR NAME=ACTION>' method='post' enctype='multipart/form-data' name='form1'>
  <input name='id' type='hidden' value='<TMPL_VAR NAME=ID>' >
  <input name='new' type='hidden' value='<TMPL_VAR NAME=NEW>' >
  <input name='edit' type='hidden' value='<TMPL_VAR NAME=EDIT>' >
  <table border='1' cellspacing='0' cellpadding='2'>

				<tr valign='top'>
				<td> First NE IP (mandatory) </td>
				<td> <INPUT TYPE="text" NAME="IP1" SIZE=20i required> </td>

				<tr valign='top'>
				<td> Second NE IP (optional)(if empty then automatically will be discovered) </td>
				<td> <INPUT TYPE="text" NAME="IP2" SIZE=20> </td>
  
				<tr valign='top'>
				<td> Running this linkcheck for  </td>
				<td> <INPUT TYPE="number" NAME="runlength" SIZE=20 VALUE="3600" required> seconds </td>

				<tr valign='top'>
				<td> Automatic refresh rate in seconds   </td>
				<td> <INPUT TYPE="number" NAME="refreshrate" SIZE=20 VALUE="2" required> seconds </td>
				
				
			<tr valign='top'>
            <td>&nbsp;</td>
            <td><input name='save' type='submit' id='save' value='Save'></td>
          </tr>
		  
  </table>
        <br>

</form>


</TMPL_IF> 

<TMPL_IF NAME=SHOWFORM_TO_TASK> 


<form action='<TMPL_VAR NAME=ACTION_TASK_ADD>' method='post' enctype='multipart/form-data' name='form1'>
	<input name='sname' type='hidden' value='<TMPL_VAR NAME=SNAME>' >
	<input name='desc' type='hidden' value='<TMPL_VAR NAME=DESC>'>  
	<input name='IP1' type='hidden' value='<TMPL_VAR NAME=IP1>'>  
	<input name='IP2' type='hidden' value='<TMPL_VAR NAME=IP2>'>  
	<input name='runlength' type='hidden' value='<TMPL_VAR NAME=RUNLENGTH>'>  
	<input name='refreshrate' type='hidden' value='<TMPL_VAR NAME=REFRESHRATE>'>  
</form>



</TMPL_IF> 


</div>
</TMPL_IF> 
</div>
<TMPL_VAR NAME=SET_COOKIES>
<TMPL_VAR NAME=GET_COOKIES>
<script>
show_login_as( );
</script>

</body>
</html>
