<html>
<head>
	<title>
		<TMPL_VAR NAME=TITLE>
	</title>
	<META http-equiv=Content-Type content='text/html; charset=iso-8859-1;'>
	<LINK href='/main.css' type=text/css rel=stylesheet>

<style>

body {
	font-family: verdana, arial, sans-serif; 
}


.left_div {
	width: 50%;
	height: 100%;
	float:left;
}

.right_div {
	width: 50%;
	height: 100%;
	float:right;
}

</style>
	
<script language="JavaScript">
  function confirm_prompt( text,url ) {
     if (confirm('You sure to delete "' + text +'" ?' )) {
      window.location = url ;
    }
  }
function isNumberInt(inputString) {
  return (!isNaN(parseInt(inputString))) ? true : false;
}
</script>
	
	
</head>
<body>
<a href='/'>home</a>
<h3>
	<TMPL_VAR NAME=TITLE>
</h3>

<font color=red> <h4> <TMPL_VAR NAME=MESSAGES> </h4> </font>

<hr>

<div  class="parent">

<div  class="left_div">

<TMPL_IF NAME=SHOWFORM> 

<form action='<TMPL_VAR NAME=ACTION>' method='post' enctype='multipart/form-data' name='form1'>
  <input name='id' type='hidden' value='<TMPL_VAR NAME=ID>' >
  <table border='1' cellspacing='0' cellpadding='2'>
			<tr valign='top'>
			<td> Login: </td>
			<td> <input name='login' type='text' size='20' maxlength='20' value='<TMPL_VAR NAME=LOGIN>'> </td>
			<tr valign='top'>
			<td> Password: </td>
			<td> <input name='password' type='password' size='20' maxlength='20' value=''> </td>
			<tr valign='top'>
            <td>&nbsp;</td>
            <td><input name='save' type='submit' id='save' value='Enter'></td>
          </tr>
		  
  </table>
        <br>

</form>
</div>
</TMPL_IF> 

</div>
<hr>
</body>
</html>
