<html>
<head>
	<title>
		<TMPL_VAR NAME=TITLE>
	</title>
	<META http-equiv=Content-Type content='text/html; charset=iso-8859-1;'>
	<LINK href='/main.css' type=text/css rel=stylesheet>
	<script language="javascript" type="text/javascript" src="/js/snmpcheck.js"></script>
	
</head>
<body>
<table width='100%'><tr><td width='70%'> <a href='/'>home</a> </td><td align='right'> <div id='login_as'> </div> </td></tr></table>
<h3>
	<TMPL_VAR NAME=TITLE>
</h3>

<font color=red> <h4> <TMPL_VAR NAME=MESSAGES> </h4> </font>

<hr>

<div  class="parent">
<TMPL_IF NAME=AUTHORISED> 
<div  class="left_div">

<TMPL_IF NAME=SHOWFORM> 


<form action='<TMPL_VAR NAME=ACTION>' method='post' enctype='multipart/form-data' name='form1'>
  <input name='id' type='hidden' value='<TMPL_VAR NAME=ID>' >
  <input name='new' type='hidden' value='<TMPL_VAR NAME=NEW>' >
  <input name='edit' type='hidden' value='<TMPL_VAR NAME=EDIT>' >
  <table border='1' cellspacing='0' cellpadding='2'>
  
			<tr valign='top'>
			<td> NTP server1 IP address </td>    
			<td> <INPUT TYPE="text" NAME="ntp1" required SIZE=20> </td>
			<tr valign='top'>
			<td> NTP server1 polling time </td>    
			<td>  
				<select id = "ntp1_poll" NAME="ntp1_poll" SIZE=1>
				<option value = "6">1 [min] 4 [sec] (64 [sec])</option>
				<option value = "7">2 [min] 8 [sec] (128 [sec])</option>
				<option selected value = "8">4 [min] 16 [sec] (256 [sec])</option>
				<option value = "9">8 [min] 32 [sec] (512 [sec])</option>
				<option value = "10">17 [min] 4 [sec] (1024 [sec])</option>
				<option value = "11">34 [min] 8 [sec] (2048 [sec])</option>
				<option value = "12">1 [hour] 8 [min] 16 [sec] (4096 [sec])</option>
				<option value = "13">2 [hour] 16 [min] 32 [sec] (8192 [sec])</option>
				<option value = "14">4 [hour] 33 [min] 4 [sec] (16384 [sec])</option>
				<option value = "15">9 [hour] 6 [min] 8 [sec] (32768 [sec])</option>
				<option value = "16">18 [hour] 12 [min] 16 [sec] (65536 [sec])</option>
				<option value = "17">36 [hour] 24 [min] 32 [sec] (131072 [sec])</option>
				</select>
			</td>

			<tr valign='top'>
			<td> NTP server2 IP address </td>    
			<td> <INPUT TYPE="text" NAME="ntp2" SIZE=20 maxlength='20'> </td>
			<tr valign='top'>
			<td> NTP server2 polling time </td>    
			<td>  
				<select id = "ntp2_poll" NAME="ntp2_poll" SIZE=1>
				<option value = "6">1 [min] 4 [sec] (64 [sec])</option>
				<option value = "7">2 [min] 8 [sec] (128 [sec])</option>
				<option selected value = "8">4 [min] 16 [sec] (256 [sec])</option>
				<option value = "9">8 [min] 32 [sec] (512 [sec])</option>
				<option value = "10">17 [min] 4 [sec] (1024 [sec])</option>
				<option value = "11">34 [min] 8 [sec] (2048 [sec])</option>
				<option value = "12">1 [hour] 8 [min] 16 [sec] (4096 [sec])</option>
				<option value = "13">2 [hour] 16 [min] 32 [sec] (8192 [sec])</option>
				<option value = "14">4 [hour] 33 [min] 4 [sec] (16384 [sec])</option>
				<option value = "15">9 [hour] 6 [min] 8 [sec] (32768 [sec])</option>
				<option value = "16">18 [hour] 12 [min] 16 [sec] (65536 [sec])</option>
				<option value = "17">36 [hour] 24 [min] 32 [sec] (131072 [sec])</option>
				</select>
			</td>


			<tr valign='top'>
			<td> NTP server3 IP address </td>    
			<td> <INPUT TYPE="text" NAME="ntp3" SIZE=20 maxlength='20'> </td>
			<tr valign='top'>
			<td> NTP server3 polling time </td>    
			<td>  
				<select id = "ntp3_poll" NAME="ntp3_poll" SIZE=1>
				<option value = "6">1 [min] 4 [sec] (64 [sec])</option>
				<option value = "7">2 [min] 8 [sec] (128 [sec])</option>
				<option selected value = "8">4 [min] 16 [sec] (256 [sec])</option>
				<option value = "9">8 [min] 32 [sec] (512 [sec])</option>
				<option value = "10">17 [min] 4 [sec] (1024 [sec])</option>
				<option value = "11">34 [min] 8 [sec] (2048 [sec])</option>
				<option value = "12">1 [hour] 8 [min] 16 [sec] (4096 [sec])</option>
				<option value = "13">2 [hour] 16 [min] 32 [sec] (8192 [sec])</option>
				<option value = "14">4 [hour] 33 [min] 4 [sec] (16384 [sec])</option>
				<option value = "15">9 [hour] 6 [min] 8 [sec] (32768 [sec])</option>
				<option value = "16">18 [hour] 12 [min] 16 [sec] (65536 [sec])</option>
				<option value = "17">36 [hour] 24 [min] 32 [sec] (131072 [sec])</option>
				</select>
			</td>
			
  
			<tr valign='top'>
			<td> NTP server4 IP address </td>    
			<td> <INPUT TYPE="text" NAME="ntp4" SIZE=20 maxlength='20'> </td>
			<tr valign='top'>
			<td> NTP server4 polling time </td>    
			<td>  
				<select id = "ntp4_poll" NAME="ntp4_poll" SIZE=1>
				<option value = "6">1 [min] 4 [sec] (64 [sec])</option>
				<option value = "7">2 [min] 8 [sec] (128 [sec])</option>
				<option selected value = "8">4 [min] 16 [sec] (256 [sec])</option>
				<option value = "9">8 [min] 32 [sec] (512 [sec])</option>
				<option value = "10">17 [min] 4 [sec] (1024 [sec])</option>
				<option value = "11">34 [min] 8 [sec] (2048 [sec])</option>
				<option value = "12">1 [hour] 8 [min] 16 [sec] (4096 [sec])</option>
				<option value = "13">2 [hour] 16 [min] 32 [sec] (8192 [sec])</option>
				<option value = "14">4 [hour] 33 [min] 4 [sec] (16384 [sec])</option>
				<option value = "15">9 [hour] 6 [min] 8 [sec] (32768 [sec])</option>
				<option value = "16">18 [hour] 12 [min] 16 [sec] (65536 [sec])</option>
				<option value = "17">36 [hour] 24 [min] 32 [sec] (131072 [sec])</option>
				</select>
			</td>
  
  
			<tr valign='top'>
			<TMPL_IF NAME=MS5000>
				<tr valign='top'>
				<td> NE IP </td>
				<td> <input name='ip' type='text' size='20' maxlength='20' value='<TMPL_VAR NAME=IP>'> </td>
			
				<tr valign='top'>
				<td> NE status </td>
				<td> In operation <input TYPE="checkbox" NAME="inop" VALUE="inop" checked> Under construction <input TYPE="checkbox" NAME="ucon" VALUE="ucon" checked> Unmanaged <input TYPE="checkbox" NAME="umng" VALUE="umng">			
				<tr valign='top'>
				<td> Select group </td>
				<td>			
				<select name='group'>	
					<option value='' ></option>
					<TMPL_LOOP NAME=GROUP_LIST_LOOP>				
						<option value='<TMPL_VAR NAME=GROUP>' > <TMPL_VAR NAME=GROUP_NAME> </option>
					</TMPL_LOOP>					
				</select>
					Include subgroups
					<input name='subgroup' type='checkbox' <TMPL_IF NAME=SUBGROUP>selected</TMPL_IF> >
				</td>
				<tr valign='top'>
				<td> Generate IP list for all iPasolink</td>
				<td> <input name='all_ipasolink' type='checkbox' <TMPL_IF NAME=ALL_IPASOLINK>selected</TMPL_IF> > </td>
				
			<TMPL_ELSE> 
				<tr valign='top'>
				<td> NE IP </td>
				<td> <input name='ip' type='text' size='20' maxlength='20' value='<TMPL_VAR NAME=IP>'> </td>

				<tr valign='top'>
				<td> Select group </td>
				<td>			
					<select name='group'>	
						<option value='' ></option>
						<TMPL_LOOP NAME=GROUP_LIST_LOOP>				
							<option value='<TMPL_VAR NAME=GROUP>' > <TMPL_VAR NAME=GROUP_NAME> </option>
						</TMPL_LOOP>					
					</select>
				</td>

				<tr valign='top'>
				<td> Generate IP list for all iPasolink</td>
				<td> <input name='all_ipasolink' type='checkbox' <TMPL_IF NAME=ALL_IPASOLINK>selected</TMPL_IF> > </td>

			</TMPL_IF>
			<tr valign='top'>
			<td> Description </td>
			<td> <input name='desc' type='text' size='50' maxlength='254' value='<TMPL_VAR NAME=DESC>'> </td>
				
			<tr valign='top'>
            <td>&nbsp;</td>
            <td><input name='save' type='submit' id='save' value='Save'></td>
          </tr>
		  
  </table>
        <br>

</form>


</TMPL_IF> 

<TMPL_IF NAME=SHOWFORM_TO_TASK> 


<form action='<TMPL_VAR NAME=ACTION_TASK_ADD>' method='post' enctype='multipart/form-data' name='form1'>
	<input name='sname' type='hidden' value='<TMPL_VAR NAME=SNAME>' >
	<input name='desc' type='hidden' value='<TMPL_VAR NAME=DESC>'>  
	<input name='ip' type='hidden' value='<TMPL_VAR NAME=IP>'>  
	<input name='group' type='hidden' value='<TMPL_VAR NAME=GROUP>'>  
	<input name='subgroup' type='hidden' value='<TMPL_VAR NAME=SUBGROUP>'>  
	<input name='all_ipasolink' type='hidden' value='<TMPL_VAR NAME=ALL_IPASOLINK>'>  
	<input name='inop' type='hidden' value='<TMPL_VAR NAME=INOP>'>  
	<input name='ucon' type='hidden' value='<TMPL_VAR NAME=UCON>'>  
	<input name='umng' type='hidden' value='<TMPL_VAR NAME=UMNG>'>  	

	<input name='ntp1' type='hidden' value='<TMPL_VAR NAME=NTP1>'>  
	<input name='ntp2' type='hidden' value='<TMPL_VAR NAME=NTP2>'>  
	<input name='ntp3' type='hidden' value='<TMPL_VAR NAME=NTP3>'>  
	<input name='ntp4' type='hidden' value='<TMPL_VAR NAME=NTP4>'>  

	<input name='ntp1_pool' type='hidden' value='<TMPL_VAR NAME=NTP1_POOL>'>  
	<input name='ntp2_pool' type='hidden' value='<TMPL_VAR NAME=NTP2_POOL>'>  
	<input name='ntp3_pool' type='hidden' value='<TMPL_VAR NAME=NTP3_POOL>'>  
	<input name='ntp4_pool' type='hidden' value='<TMPL_VAR NAME=NTP4_POOL>'>  
	
	
  <table border='1' cellspacing='0' cellpadding='2'>
			<tr valign='top'>
			<td> Add task for worker </td>
			<td> <input name='sname' type='hidden' value='<TMPL_VAR NAME=SNAME>'> <TMPL_VAR NAME=SNAME> </td>
			<tr valign='top'>
			<td> NTP servers and pool time </td>
			<td> 
				<b>NTP1:</b> '<TMPL_VAR NAME=NTP1>' <b>Pool time:</b>'<TMPL_VAR NAME=NTP1_POOL>'<br>
				<b>NTP2:</b> '<TMPL_VAR NAME=NTP2>' <b>Pool time:</b>'<TMPL_VAR NAME=NTP2_POOL>'<br>
				<b>NTP3:</b> '<TMPL_VAR NAME=NTP3>' <b>Pool time:</b>'<TMPL_VAR NAME=NTP3_POOL>'<br>
				<b>NTP4:</b> '<TMPL_VAR NAME=NTP4>' <b>Pool time:</b>'<TMPL_VAR NAME=NTP4_POOL>'<br>

		<TMPL_IF NAME=MS5000>
			<tr valign='top'>
			<td> Selected IP </td>
			<td> 
					<TMPL_IF  NAME=IP>
						<b>IP:</b>'<TMPL_VAR NAME=IP>' 
					<TMPL_ELSE>  					
						<TMPL_IF  NAME=GROUP>
							<b>Group:</b>'<TMPL_VAR NAME=GROUP>',
							<b>Include subgroups:</b><TMPL_IF NAME=SUBGROUP>'Yes'<TMPL_ELSE>'No'</TMPL_IF>,
							<b>In operation:</b><TMPL_IF NAME=INOP>'Yes'<TMPL_ELSE>'No'</TMPL_IF>,
							<b>Under construction:</b><TMPL_IF NAME=UCON>'Yes'<TMPL_ELSE>'No'</TMPL_IF>,
							<b>Unmanaged:</b><TMPL_IF NAME=UMNG>'Yes'<TMPL_ELSE>'No'</TMPL_IF> 
						</TMPL_IF>  						
						<TMPL_IF  NAME=ALL_IPASOLINK>
							<b>IP list for all iPasolink:</b><TMPL_IF NAME=ALL_IPASOLINK>'Yes'<TMPL_ELSE>'No'</TMPL_IF>,
							<b>In operation:</b><TMPL_IF NAME=INOP>'Yes'<TMPL_ELSE>'No'</TMPL_IF>, 
							<b>Under construction:</b><TMPL_IF NAME=UCON>'Yes'<TMPL_ELSE>'No'</TMPL_IF>,
							<b>Unmanaged:</b><TMPL_IF NAME=UMNG>'Yes'<TMPL_ELSE>'No'</TMPL_IF> 
						</TMPL_IF>  						
					</TMPL_IF>  
			</td>
		<TMPL_ELSE>  
			<tr valign='top'>
			<td> Selected IP </td>
			<td> 
					<TMPL_IF  NAME=IP>
						<b>IP:</b>'<TMPL_VAR NAME=IP>' 
					<TMPL_ELSE>  					
						<TMPL_IF  NAME=GROUP>
							<b>Group:</b>'<TMPL_VAR NAME=GROUP>',
						</TMPL_IF>  						
						<TMPL_IF  NAME=ALL_IPASOLINK>
							<b>IP list for all iPasolink:</b><TMPL_IF NAME=ALL_IPASOLINK>'Yes'<TMPL_ELSE>'No'</TMPL_IF>
						</TMPL_IF>  						
					</TMPL_IF>  
			</td>
		</TMPL_IF>  
			<tr valign='top'>
			<td> Description </td>
			<td> <TMPL_VAR NAME=DESC> </td>
			<tr valign='top'>
            <td>&nbsp;</td>
            <td>&nbsp;[ <a href="" onclick="confirm_prompt( 'Cancel process task add','/'); return false;">Cancel</a> ] &nbsp; <input name='save' type='submit' id='save' value='Submit task'></td>
          </tr>
		  
  </table>
        <br>

</form>



</TMPL_IF> 


</div>
</TMPL_IF> 
</div>
<TMPL_VAR NAME=SET_COOKIES>
<TMPL_VAR NAME=GET_COOKIES>
<script>
show_login_as( );
</script>

</body>
</html>
