<html>
<head>
	<title>
		<TMPL_VAR NAME=TITLE>
	</title>
	<META http-equiv=Content-Type content='text/html; charset=iso-8859-1;'>
	<LINK href='/main.css' type=text/css rel=stylesheet>
	<script language="javascript" type="text/javascript" src="/js/snmpcheck.js"></script>
	
</head>
<body>
<table width='100%'><tr><td width='70%'> <a href='/'>home</a> </td><td align='right'> <div id='login_as'> </div> </td></tr></table>
<h3>
	<TMPL_VAR NAME=TITLE>
</h3>

<font color=red> <h4> <TMPL_VAR NAME=MESSAGES> </h4> </font>

<hr>

<div  class="parent">
<div  class="left_div">

<TMPL_IF NAME=SHOWFORM> 


<form action='<TMPL_VAR NAME=ACTION>' method='post' enctype='multipart/form-data' name='form1'>
  <input name='id' type='hidden' value='<TMPL_VAR NAME=ID>' >
  <input name='new' type='hidden' value='<TMPL_VAR NAME=NEW>' >
  <input name='edit' type='hidden' value='<TMPL_VAR NAME=EDIT>' >
  <table border='1' cellspacing='0' cellpadding='2'>
			<tr valign='top'>
			<td> NE IP </td>
			<td> <input name='ip' type='text' size='20' maxlength='20' value='<TMPL_VAR NAME=IP>'> </td>
			<tr valign='top'>
			<td> Select group </td>
			<td>			
				<select name='group'>	
					<option value='' ></option>
					<TMPL_LOOP NAME=GROUP_LIST_LOOP>				
						<option value='<TMPL_VAR NAME=GROUP>' ><TMPL_VAR NAME=GROUP></option>
					</TMPL_LOOP>					
				</select>
				</td>
			<tr valign='top'>
			<td> Generate IP list for all iPasolink</td>
			<td> 				
				<select name='all_ipasolink'>	
					<option value='1' <TMPL_IF NAME=ALL_IPASOLINK> selected </TMPL_IF> >Yes</option>
					<option value='0' <TMPL_UNLESS NAME=ALL_IPASOLINK> selected </TMPL_UNLESS> >No</option>
				</select>
				</td>
			<tr valign='top'>
			<td> Description </td>
			<td> <input name='desc' type='text' size='50' maxlength='254' value='<TMPL_VAR NAME=DESC>'> </td>
				
			<tr valign='top'>
            <td>&nbsp;</td>
            <td><input name='save' type='submit' id='save' value='Save'></td>
          </tr>
		  
  </table>
        <br>

</form>


</TMPL_IF> 

<TMPL_IF NAME=SHOWFORM_TO_TASK> 


<form action='<TMPL_VAR NAME=ACTION_TASK_ADD>' method='post' enctype='multipart/form-data' name='form1'>
	<input name='sname' type='hidden' value='<TMPL_VAR NAME=SNAME>' >
	<input name='desc' type='hidden' value='<TMPL_VAR NAME=DESC>'>  
	<input name='ip' type='hidden' value='<TMPL_VAR NAME=IP>'>  
	<input name='group' type='hidden' value='<TMPL_VAR NAME=GROUP>'>  
	<input name='all_ipasolink' type='hidden' value='<TMPL_VAR NAME=ALL_IPASOLINK>'>  
	
  <table border='1' cellspacing='0' cellpadding='2'>
			<tr valign='top'>
			<td> Add task for worker </td>
			<td> <input name='sname' type='hidden' value='<TMPL_VAR NAME=SNAME>'> <TMPL_VAR NAME=SNAME> </td>
			<tr valign='top'>
			<td> Selected IP </td>
			<td> 
					<b>IP:</b><TMPL_VAR NAME=IP>  <TMPL_IF  NAME=GROUP><b>Group:</b><TMPL_VAR NAME=GROUP></TMPL_IF>  <b>IP list for all iPasolink:</b><TMPL_IF  NAME=ALL_IPASOLINK>Yes<TMPL_ELSE>No</TMPL_IF></td>

			<tr valign='top'>
			<td> Description </td>
			<td> <TMPL_VAR NAME=DESC> </td>
			<tr valign='top'>
            <td>&nbsp;</td>
            <td>&nbsp;[ <a href="" onclick="confirm_prompt( 'Cancel process task add','/'); return false;">Cancel</a> ] &nbsp; <input name='save' type='submit' id='save' value='Submit task'></td>
          </tr>
		  
  </table>
        <br>

</form>



</TMPL_IF> 


</div>

</div>
<TMPL_VAR NAME=SET_COOKIES>
<TMPL_VAR NAME=GET_COOKIES>
<script>
show_login_as( );
</script>

</body>
</html>
