<html>
<head>
	<title>
		<TMPL_VAR NAME=TITLE>
	</title>
	<META http-equiv=Content-Type content='text/html; charset=iso-8859-1;'>
	<LINK href='/main.css' type=text/css rel=stylesheet>
	<script language="javascript" type="text/javascript" src="/js/snmpcheck.js"></script>
	
</head>
<body>
<table width='100%'><tr><td width='70%'> <a href='/'>home</a> </td><td align='right'> <div id='login_as'> </div> </td></tr></table>
<h3>
	<TMPL_VAR NAME=TITLE>
</h3>

<font color=red> <h4> <TMPL_VAR NAME=MESSAGES> </h4> </font>

<hr>

<div  class="parent">


<TMPL_IF NAME=SHOWFORM> 

<div  class="left_div">

<form action='<TMPL_VAR NAME=ACTION>' method='post' enctype='multipart/form-data' name='form1'>
  <input name='id' type='hidden' value='<TMPL_VAR NAME=ID>' >
  <input name='new' type='hidden' value='<TMPL_VAR NAME=NEW>' >
  <input name='edit' type='hidden' value='<TMPL_VAR NAME=EDIT>' >
  <table border='1' cellspacing='0' cellpadding='2'>


			<tr valign='top'>
			<td> name </td>
			<td> <input name='sname' type='text' size='20' maxlength='20' required  value='<TMPL_VAR NAME=SNAME>'> </td>

			<tr valign='top'>
			<td> desc </td>
			<td> <input name='desc' type='text' size='20' maxlength='200' value='<TMPL_VAR NAME=DESC>'> </td>

			<tr valign='top'>
			<td> worker script</td>
			<td>
			
				<select name='worker'>	
					<TMPL_IF NAME=WORKER>
					<option value='<TMPL_VAR NAME=WORKER>' selected><TMPL_VAR NAME=WORKER></option>
					</TMPL_IF>
					<TMPL_LOOP NAME=WORKER_LIST_LOOP>				
						<option value='<TMPL_VAR NAME=LOOP_WORKER>' ><TMPL_VAR NAME=LOOP_WORKER></option>
					</TMPL_LOOP>					
				</select>
				</td>
			

			<tr valign='top'>
			<td> ip </td>
			<td> <input name='ip' type='text' size='20' maxlength='20' value='<TMPL_VAR NAME=IP>'> </td>

			<tr valign='top'>
			<td> auth </td>			
			<td> 
				<select name='auth'>	
					<option value='1' <TMPL_IF NAME=AUTH> selected </TMPL_IF> >Yes</option>
					<option value='0' <TMPL_UNLESS NAME=AUTH> selected </TMPL_UNLESS> >No</option>
				</select>
			
			<tr valign='top'>
			<td> snmpuser </td>
			<td> <input name='snmpuser' type='text' size='20' maxlength='20' value='<TMPL_VAR NAME=SNMPUSER>'> </td>

			<tr valign='top'>
			<td> snmpap </td>
			<td> <input name='snmpap' type='text' size='20' maxlength='20' value='<TMPL_VAR NAME=SNMPAP>'> </td>

			<tr valign='top'>
			<td> snmppk </td>
			<td> <input name='snmppk' type='text' size='20' maxlength='20' value='<TMPL_VAR NAME=SNMPPK>'> </td>

			<tr valign='top'>
			<td> snmpr </td>
			<td> <input name='snmpr' type='text' size='3' maxlength='3' value='<TMPL_VAR NAME=SNMPR>'> </td>

			<tr valign='top'>
			<td> snmpt </td>
			<td> <input name='snmpt' type='text' size='3' maxlength='3' value='<TMPL_VAR NAME=SNMPT>'> </td>

			<tr valign='top'>
			<td> snmpapro </td>
			<td>
				<select name='snmpapro'>	
					<TMPL_IF NAME=SNMPAPRO>
					<option value='<TMPL_VAR NAME=SNMPAPRO>' selected><TMPL_VAR NAME=SNMPAPRO></option>
					</TMPL_IF>
					<option value='MD5'>MD5</option>
					<option value='SHA'>SHA</option>
				</select>
				</td>
			<tr valign='top'>
			<td> snmppro </td>
			<td> 
				<select name='snmppro'>	
					<TMPL_IF NAME=SNMPPRO>
					<option value='<TMPL_VAR NAME=SNMPPRO>' selected><TMPL_VAR NAME=SNMPPRO></option>
					</TMPL_IF>
					<option value='AES'>AES</option>
					<option value='DES'>DES</option>
				</select>
				</td>

			<tr valign='top'>
			<td> snmplevel </td>
			<td> 
				<select name='snmplevel'>	
					<TMPL_IF NAME=SNMPLEVEL>
					<option value='<TMPL_VAR NAME=SNMPLEVEL>' selected><TMPL_VAR NAME=SNMPLEVEL></option>
					</TMPL_IF>
					<option value='authPriv'>authPriv</option>
					<option value='noAuthNoPriv'>noAuthNoPriv</option>
					<option value='authNoPriv'>authNoPriv</option>
				</select>
				</td>

			<tr valign='top'>
            <td>&nbsp;</td>
            <td><input name='save' type='submit' id='save' value='Save'></td>
          </tr>
		  
  </table>
        <br>

</form>
</div>


<TMPL_ELSE>

<div  class="left_div">
<table border=1>
	<tr>
		<td colspan=14> <a href='<TMPL_VAR NAME=ACTION>?new=1'>Add new record </a></td></tr>
	</tr>
	<tr>
		<td> sname </td>
		<td> desc </td>
		<td> worker </td>
		<td> ip </td>
		<td> auth </td>
		<td> snmpuser </td>
		<td> snmpap </td>
		<td> snmppk </td>
		<td> snmpr </td>
		<td> snmpt </td>
		<td> snmpapro </td>
		<td> snmppro </td>
		<td> snmplevel </td>
		<td>  </td>
	</tr>

   <TMPL_LOOP NAME=USERS_LIST_LOOP>
	<tr>
		<td> <a href='<TMPL_VAR NAME=ACTION>?edit=1&id=<TMPL_VAR NAME=ID>'><TMPL_VAR NAME=SNAME></a></td>
		<td> <TMPL_VAR NAME=DESC></td>
		<td> <TMPL_VAR NAME=WORKER></td>
		<td> <TMPL_VAR NAME=IP></td>
		<td> <TMPL_VAR NAME=AUTH></td>
		<td> <TMPL_VAR NAME=SNMPUSER></td>
		<td> <TMPL_VAR NAME=SNMPAP></td>
		<td> <TMPL_VAR NAME=SNMPPK></td>
		<td> <TMPL_VAR NAME=SNMPR></td>
		<td> <TMPL_VAR NAME=SNMPT></td>
		<td> <TMPL_VAR NAME=SNMPAPRO></td>
		<td> <TMPL_VAR NAME=SNMPPRO></td>
		<td> <TMPL_VAR NAME=SNMPLEVEL></td>
		<td> [ <a href='' onclick="confirm_prompt('Are you sure to delete snmp worker definition _<TMPL_VAR NAME=NAME>_','<TMPL_VAR NAME=ACTION>?del=1&id=<TMPL_VAR NAME=ID>'); return false;">del</a> ] </td>
	</tr>
   </TMPL_LOOP>
</table>


</div>
</TMPL_IF> 

</div>
<TMPL_VAR NAME=SET_COOKIES>
<TMPL_VAR NAME=GET_COOKIES>
<script>
show_login_as( );
</script>

</body>
</html>
